<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.calmio.calm.integration.CalmIntegrationLeader plugin="Calm-Integration@1.0-SNAPSHOT">
      <event>runServiceActionupgrade</event>
      <triggerBody>{&quot;application_name&quot;:&quot;load1&quot;, &quot;service_name&quot;:&quot;Resource 1&quot;, &quot;version&quot;:&quot;6&quot;, &quot;action&quot;: &quot;upgrade&quot;}</triggerBody>
    </com.calmio.calm.integration.CalmIntegrationLeader>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>